{% extends "csdapp/base.html" %}

{% block content %}
<style>
.dropbtn {
	background-color: #04AA6D;
	color: white;
	padding: 8px;
	font-size: 12px;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0;
	background-color: #f1f1f1;
	min-width: 50px;
	box-shadow: 0px 8px 16px, 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 8px 8px;
	font-size: 12px;
	text-decoration:none;
	display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>


<h1 class="display-4">Cards Database</h1>
<p class= "lead font-italic">View card information here!</p>
<div class="dropdown" style="float:right;margin-top:-100px;">
        <button class="dropbtn">Export Report</button>
        <div class="dropdown-content">
                <a href="{% url 'export-csv' %}?{{request.GET.urlencode}}">CSV</a>
				<a href="{% url 'export-pdf' %}?{{request.GET.urlencode}}">PDF</a>
        </div>
</div>

<hr class="my-4">
<form method="get">
	{{ myFilter.form }}
	<button class="remove-default-btn" type="submit"><i class="fas fa-search"></i></button>
</form>

<table class="table table-borderless">
		<thead class="border-bottom font-weight-bold">
			<tr>
				<td>Card Number</td>
				<td>Member name</td>
				<td>Entry date</td>
				<td>Requested</td>
				<td>Embossed</td>
				<td>Received</td>
				<td>Collected</td>
				<td>Branch</td>
				<td>
					<div class="col-md-5">
					<a href="{% url 'card_insert' %}" class="btn btn-success btn-sm">
						<i class="fas fa-plus"></i>
					</a>
					</div>
				</td>
			</tr>
		</thead>

		<tbody>
			{% for card in cards_page %}
				<tr class="border-top">
					<td>{{card.card_num}}</td>
					<td>{{card.member_name}}</td>
					<td>{{card.entry_date}}</td>
					<td>{{card.requested}}</td>
					<td>{{card.embossed}}</td>
					<td>{{card.received}}</td>
					<td>{{card.collected}}</td>
					<td>{{card.branch}}</td>
					<td>
						<a href="{% url 'card_update' card.id %}" class="btn text-secondary px-0">
							<i class="far fa-edit fa-lg"></i>
						</a>

						<a href="{% url 'cards_delete' card.id %}" class = "btn" class="inline">
							<i class="far fa-trash-alt fa-lg text-danger float-right"></i>
						</a>
						
						<!--
						<form action="{% url 'cards_delete' card.id %}" method="post" class="d-inline">
							{% csrf_token %}
							<button type="submit" class="btn">
								<i class="far fa-trash-alt fa-lg text-danger float-right"></i>
							</button>
						</form>-->
					</td>
				</tr>
			{% endfor %}
		</tbody>
</table>
<!--
{{ cards_page }}</br/>
Has Previous: {{ cards_page.has_previous }}</br/>
Has Next: {{ cards_page.has_next }}</br/>
Number of Pages: {{ cards_page.paginator.num_pages }}
-->
<hr>
<nav aria-label="Page navigation example">
	<ul class="pagination">
		{% if cards_page.has_previous %}
			<li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ cards_page.previous_page_number }}">Previous</a></li>
		{% endif %}

		<li class="page-item disabled"><a href="#" class="page-link">Page {{ cards_page.number }} of {{ cards_page.paginator.num_pages }}</a></li>

		{% if cards_page.has_next %}
		<!--
			<a href="?page={{ cards_page.next_page_number }}">Next</a>
			<a href="?page={{ cards_page.paginator.num_pages }}">Last &raquo</a>
		-->
			<li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cards_page.next_page_number }}">Next</a></li>
			<li class="page-item"><a class="page-link" href="?{{ request.GET.urlencode }}&page={{ cards_page.paginator.num_pages }}">Last &raquo</a></li>
		{% endif %}
	</ul>
  </nav>


{% endblock content %}
